


<div  [class.form-group]="animatedLabel" [class.valid]="textInput.valid && textInput.touched && textInput.value">
  <label *ngIf="label" class="placeholder-label form-label" [class.readonly]="readonly" [for]="inputId">
    <span>{{label}}</span>
  </label>
  <div class="input-wrapper" [ngStyle]="{'border': submitted && textInput.errors?.['required'] && maskType==='password'? '1px solid red':''}">
    <div class="icon-container" *ngIf="iconName">
      <app-svg-icon [name]="iconName" [size]="20"></app-svg-icon>
    </div>

    <input 
        #inputRef
        #textInput="ngModel"
        [id]="inputId"
        [name]="inputId"
        class="form-control {{inputClass}}"
        [class.no-arrow]="maskType === 'number'"
        [type]="maskType === 'number' ? 'number' : ( maskType === 'password' ? (passwordVisible ? 'text' : 'password') : 'text')"
        [class.ltr]="maskType == 'cellphone' || maskType == 'email' || maskType == 'IP' || maskType == 'password' || ltrDirection"
        [required]="isRequired"
        [(ngModel)]="value" 
        [placeholder]="placeholder"
        [persianLettersOnly]="maskType === 'none' && persianLettersOnly"
        [maskito]="maskType == 'cellphone' ? { mask: cellphoneMask } : (maskType == 'email' ? emailMask : null)"
        [emailValidator]="maskType == 'email'"
        [mobileValidator]="maskType == 'cellphone'"
        [passwordValidator]="maskType == 'password'"
        [ipv4Validator]="maskType == 'IP'"
        [readonly]="readonly"
        (ngModelChange)="handleInputChange($event)"
        showPasswordStrengthMessages
        (blur)="onBlur()"
        autocomplete="new-password"
        maxlength="{{maxlength}}"
        [attr.inputmode]="maskType === 'number' ? 'numeric' : null"
        [attr.pattern]="maskType === 'number' ? '[0-9]*' : null"
        [ngStyle]="{'padding-left': isCaptcha ? '10rem' : (maskType === 'password' ? '3.12rem' : '0.5rem')}"
        [ngClass]="{'invalid': submitted && textInput.errors?.['required'] || textInput.errors?.['ipv4Invalid']}"
        [appNumberSeparator]="numberSeparator"
        />
    <div class="password-toggle" *ngIf="maskType === 'password'" (click)="togglePasswordVisibility()">
        <app-svg-icon [name]="passwordVisible ? 'eye' : 'eye-closed'" [size]="24"></app-svg-icon>
      </div>
    </div>
  </div>
    <!-- <label class="placeholder-lable form-label" [class.readonly]="readonly" [for]="inputId"><span>{{label}}</span></label> -->

<ng-template *ngIf="submitted && textInput?.invalid">
  <div class="form-validation-messages">
    <div *ngIf="textInput.errors?.['required']">{{label?label:placeholder}} الزامی است</div>
    <div *ngIf="textInput.errors?.['emailInvalid'] && maskType == 'email'">الگوی ایمیل نامعتبر است</div>
    <div *ngIf="textInput.errors?.['ipv4Invalid'] && maskType == 'IP'">فرمت IP نامعتبر است</div>
    <div *ngIf="textInput.errors?.['mobileInvalid'] && maskType == 'cellphone'">شماره موبایل نامعتبر است</div>
  </div>
</ng-template>

<!-- PasswordStrengthMessages -->
<!-- <div  class="form-validation-password-messages password-strength-messages" 
     [class.invalid-message]="textInput?.invalid && textInput?.touched" 
     [class.valid-message]="textInput?.valid && textInput?.touched"
     *ngIf="maskType === 'password' && showPasswordStrengthMessages && textInput?.invalid ">

    <div [class.invalid-message]="textInput.errors?.['minlength']"
         [class.valid-message]="!textInput.errors?.['minlength'] && textInput.value">
        گذرواژه باید حداقل {{ textInput.errors?.['minlength']?.requiredLength || 8 }} کاراکتر باشد.
    </div>
    <div [class.invalid-message]="textInput.errors?.['hasDigit']"
         [class.valid-message]="!textInput.errors?.['hasDigit'] && textInput.value">
        گذرواژه باید شامل حداقل یک عدد باشد.
    </div>
        <div [class.invalid-message]="textInput.errors?.['hasUpperCase']"
         [class.valid-message]="!textInput.errors?.['hasUpperCase'] && textInput.value">
        گذرواژه باید شامل حداقل یک حرف بزرگ باشد.
    </div>
    <div [class.invalid-message]="textInput.errors?.['hasLowerCase']" 
         [class.valid-message]="!textInput.errors?.['hasLowerCase'] && textInput.value">
        گذرواژه باید شامل حداقل یک حرف کوچک باشد.
    </div>
    <div [class.invalid-message]="textInput.errors?.['hasSpecialChar']"
         [class.valid-message]="!textInput.errors?.['hasSpecialChar'] && textInput.value">
        گذرواژه باید شامل حداقل یک علامت خاص باشد (!#$%...).
    </div>

</div> -->
