@use '../../../../styles/mixins' as *;

.main-container {
    background-color: var(--primary-10);
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
    padding: var(--space-l);

}

.header {
    display: flex;
    gap: var(--space-xs);
    align-items: center;
    padding-bottom: var(--space-s);
    border-bottom: 1px solid var(--gray-200);
    margin-bottom: var(--space-l);

    .title {
        color: var(--gray-900);
        @include text-m-bold;
    }

    .seperator {
        color: var(--gray-300);
        @include text-m-semibold;
    }

    .desc {
        color: var(--gray-700);
        @include text-m-semibold;
    }
}

.row-detail {
    padding: 0.7rem;
    font-size: var(--fs-s);
    color: var(--gray-800);
    margin: .2rem .5rem;

    &.bg {
        background-color: var(--gray-50);
    }

    .label {
        color: var(--gray-1000);
    }
}


.list {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    gap: 0.75rem;

    .item {
        display: flex;
        align-items: center;
        border: 1px solid var(--primary-200);

        border-radius: 0.75rem;
        overflow: hidden;
        height: 46px;
        // padding: 0.5rem 0.75rem;


        .title,
        .value {
            padding: 0.5rem;
            align-self: stretch;
        }

        .title {
            background-color: var(--primary-50);
            flex: 0 0 143px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        // .title {
        //     display: flex;
        //     align-items: center;
        //     position: relative;
        //     white-space: nowrap;
        //     flex: 0 0 110px;
        //     justify-content: center;

        //     &:after {
        //         content: '';
        //         width: 1px;
        //         height: 100%;
        //         background-color: var(--primary-200);
        //         position: absolute;
        //         left: 0.5rem;
        //     }

        //     padding-left: 1rem;
        // }

        .value {
            font-weight: 500;
            flex: 1;
            line-height: 2;
        }

        &.full {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    &.mobile {
        display: flex;
        flex-direction: column;
    }
}


::ng-deep {
    .btn-custom {
        padding: 0.25rem 0.7rem !important;
        font-size: 0.95rem;
        height: unset !important;
        min-height: 40px;
    }
}

//----------- Mobile responsive ----------------

.main-container.mobile {
    padding: var(--space-s);
    gap: var(--space-xs);
    display: flex;
    flex-direction: column;

    .data-row {
        padding: 1rem var(--space-m);
        display: flex;
        gap: var(--space-xs);
        background-color: var(--white);
        border-radius: 1rem;
        align-items: center;

        .icon {
            width: 2rem;
            height: 2rem;
            background-color: var(--primary-10);
            color: var(--primary-500);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.75rem;
        }

        .data-item {
            @include text-s-regular;
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);
            flex: 1;
            color: var(--gray-800);

            .amount {
                @include text-l-semibold;
            }

            .unit-amount {
                @include text-s-medium;
            }
        }

        .arrow {
            color: var(--gray-600);
        }
    }
}